<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true">
    <php>
        <env name="PHPUNIT_TESTING_ENV_VAR" value="true"/> <!-- Kept for other tools, but constant is primary -->
    </php>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/unit</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./modelos</directory>
            <directory suffix=".php">./controladores</directory>
            <directory suffix=".php">./ajax</directory>
        </include>
        <exclude>
            <directory suffix=".php">./vendor</directory>
            <directory suffix=".php">./vistas</directory>
            <directory suffix=".php">./tests</directory>
        </exclude>
    </coverage>
</phpunit>
